---
---

@import "{{ site.theme }}";

header { background: #A32; padding-bottom: 0;  }

#content-wrapper {
    padding-top: 20px;
    border-top: solid 1px #fff;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2);
}

blockquote {
    padding: 10px 10px 10px 30px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
    border-left: 10px dashed gray;
    background-color: #222;
    color: #b7b7bf;
}

body {
    color: #333;
    font-family: 'Arial', 'Noto Sans', 'Verdana', 'Helvetica Neue', 'Helvetica', 'Meiryo', 'IPAExGothic', 'IPAGothic', 'Noto Sans CJK JP', 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic', 'ＭＳ ゴシック' , 'MS Gothic', serif;
}

p {
    margin-bottom: 10px;
}

#main-content h1, #main-content h2, #main-content h3, #main-content h4, #main-content h5
{
    font-family: 'Architects Daughter', 'Arial', 'Noto Sans', 'Verdana', 'Helvetica Neue', 'Helvetica', 'Meiryo', 'IPAExGothic', 'IPAGothic', 'Noto Sans CJK JP', 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic', 'ＭＳ ゴシック' , 'MS Gothic', serif;
}

blockquote strong, blockquote b {
    color: #d3d3d3;
}
